# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/test-pictures

# production
/build

# misc
dist
.npmignore
process.md
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
react-progress-tracker_1.mp4
react-progress-tracker-2x.prproj
react-progress-tracker.gif
react-progress-tracker.mov
react-progress-tracker.webm
react-progress-tracker.mp4


npm-debug.log*
yarn-debug.log*
yarn-error.log*
