.flex-container {
  display: flex;
}

h4,
input,
p {
  font-size: 20px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
}

p{
    margin: 0;
}
h4 {
  margin: 0 5px 0 5px;
}

input {
  margin-right: 4px;
}

select,
span {
  font-size: 20px;
}

select,
option {
  text-align: right;
  float: right;
  margin: 0;
  padding: 0;
}

.info {
  justify-content: space-between;
}

li {
  display: block;
  margin: 0 10px 10px 10px;
  width: 95%;
  min-width: 300px;
}

input,
input:hover,
input:active,
input::after {
  background-color: transparent;
  border: none;
}

select,
select:hover,
select:active,
select::after {
  background-color: transparent;
  border: none;
}
.cancelBox {
  display: inline-flex;
}
.tracker {
  background-color: rgb(176, 224, 220);
  border-radius: 15px;
  padding: 10px;
  width: 90%;
  min-width: 300px;
  max-width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (min-width: 448px) {
  li {
    display: block;
    width: 90%;
    min-width: 300px;
  }

  .tracker {
    width: 90%;
    min-width: 300px;
  }
}
