.tkrUl {
  list-style-type: none;
  padding: 5px;
  margin: 0 0 10px 0;
}
.tkrButtons {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0px 20px;
  max-width: 300px;
}
.tkrContainer {
  border-radius: 15px;
  background-color: rgb(194, 194, 194);
  justify-content: center;
  display: block;
  width: fit-content;
  min-height: 50vh;
  max-height: 100vh;
  overflow: scroll;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tkr-flex-container {
  display: flex;
}

.tkrH4,
.tkrInput,
.tkrPfont {
  font-size: 20px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
}

.tkrPmargin {
  margin: 0;
}

.tkrH4margin {
  margin: 0 5px 0 5px;
}

.tkrSelectFont,
.tkrSpan {
  font-size: 20px;
}

.tkrSelectAlign,
.tkrOptionAlign {
  text-align: right;
  float: right;
  margin: 0;
  padding: 0;
}

.tkrInfo {
  justify-content: space-between;
}

.tkrLi {
  display: block;
  margin: 0 10px 10px 10px;
  width: 95%;
  min-width: 300px;
}

.tkrInputStyle,
.tkrInputStyle:hover,
.tkrInputStyle:active,
.tkrInputStyle::after {
  margin-right: 4px;
  background-color: transparent;
  border: none;
}

.tkrSelectStyle,
.tkrSelectStyle:hover,
.tkrSelectStyle:active,
.tkrSelectStyle::after {
  background-color: transparent;
  border: none;
}
.tkrCancelBox {
  display: inline-flex;
}
.tracker {
  background-color: rgb(176, 224, 220);
  border-radius: 15px;
  padding: 10px;
  width: 90%;
  min-width: 300px;
  max-width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tkrBar {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  border-radius: 5px;
}

.tkrProgress {
  height: 24px;
  background-color: rgb(131, 131, 131);
  border-radius: 5px;
}

.progressContainer {
  margin: 15px;
}

.buttonDiv {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 15px;
}

.tkrButtonProgress {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 40px;
}

@media screen and (min-width: 448px) {
  .tkrLi {
    display: block;
    width: 90%;
    min-width: 300px;
  }

  .tracker {
    width: 90%;
    min-width: 300px;
  }
}
